<td-layout-nav xmlns="http://www.w3.org/1999/html">
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>GONG XI FA CAI</span>
    <span flex></span>
    <a mat-icon-button matTooltip="Profile">
      <mat-icon>person</mat-icon>
    </a>
    <span>Mr Smithies</span>
  </div>
  <h1>This page is about a bird</h1>
  <p>Everything is about a bird. Please do not judge them. They are smart.</p>
  <div>
    <td-layout-card-over>
      <mat-icon>
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
          <path d="M24 34.54L36.36 42l-3.27-14.06L44 18.49l-14.38-1.24L24 4l-5.62 13.25L4 18.49l10.91 9.45L11.64 42z"/>
        </svg>
      </mat-icon>
      <mat-card-title>
        Sweety Smithy
      </mat-card-title>
      <mat-card-subtitle>
        Poodle Poodelies
      </mat-card-subtitle>
      <mat-card-content>
        A bird is fighting with the other bird.
        The other bird is fighting with the bird.
        In a nutshell, they are fighting.
      </mat-card-content>
    </td-layout-card-over>
  </div>
</td-layout-nav>
